:root.dark{
    --background-color: black;
    --font-color: white;
}

:root.light{
    --background-color: rgb(255, 255, 255);
    --font-color: black;
}

body{
    background-color: var(--background-color);
    margin: 0;
    color: var(--font-color);
}

.header{
    margin-left: 3vw;
    margin-bottom: -2vh;
}
.stickyHeader{
    border-bottom: 1px solid rgba(145, 145, 145, 0.467);
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    box-shadow: 0 5px 10px 0px rgb(226, 226, 226);
    /* color: var(--font-color); */
}
.headerRight{
    display: flex;
    align-items:center;
}

button{
    color: white;
    background-color: blue;
    border-radius: 10px;
    height: 2rem;
    margin-left: 1vw;
}

img{
    margin-top: 2vw;
    max-width: 500px;
}

.phone{
    display: flex;
    justify-content:center;
    gap: 2vw;
}

.customizePhone{
    margin-top: 10vh;
    width: 300px;
    overflow: scroll;
    height: 375px;
}

.specs{
    /* Apply min, max, and clamp here for a responsive design */
    width: clamp(45ch, 50% ,75ch);
    margin: 0 25vw;
    padding: 0px 10px;
    box-shadow: 10px 10px 20px 5px rgb(7, 7, 7);
    background-color: rgb(232, 231, 231);
    font-size: 1.5rem;
}